    	<div id="login" class="left">
			  {% if customer  %}
			    <a href="/account">Welcome {{ customer.first_name }}</a> | {{ "Logout" | customer_logout_link }}
			  {% else %}
			    {{ "Login" | customer_login_link }}
			  {% endif %}
		</div>