{% if settings.card1 || settings.card2 || etc %}
    <div id="payment-methods" class="left">
        <ul>
            {% if settings.card1 %}
            <li></li>
            {% endif %}}
        </ul>
    </div>
{% endif %}