<div id="search" class="right">
	<form id="search-form" name="search" action="/search">
    	<input type="text" id="q" name="q" value="" class="search replace" title="Search" placeholder=" What can I get you?"/>
    	<input type="submit" id="search-submit" alt="Search" value="{{settings.search_button_text}}" />
  </form>  
</div>