<div id="search">
	<form id="search-form" name="search" action="/search">
    	<input type="text" id="q" name="q" value="" class="search replace" title="Search" placeholder="Search"/>
    	<button id="search-submit" alt="Search">Search</button>
  </form>  
</div>