<div id="search" class="right">
	<form id="search-form" name="search" action="/search">
    	<input type="text" id="q" name="q" value="" class="search replace" title="Search" placeholder="Search"/>
    	<input type="submit" id="search-submit" alt="Search" />
  </form>  
</div>