<div id="introduction">
	<h1> {{pages.frontpage.title}} </h1>
		{{ pages.frontpage.content }}
</div>
<!--
{% include 'carousel' %}
-->
<ul id="product-loop">
	{% for product in collections.frontpage.products %}

		{% include 'loop' %}
	
	{% endfor %}
</ul>